<launch>
  <include file="$(find rtt_ros)/launch/deployer.launch">
    <arg name="DEPLOYER_ARGS" value="-s $(find rtt_ros_integration_example)/example.ops"/>
    <arg name="LOG_LEVEL" value="debug"/>
    <arg name="DEBUG" value="false"/>
  </include>

  <node name="update_monitor" pkg="rtt_ros_integration_example" type="update_monitor.py" output="screen"/>
</launch>

